.layout {
    min-height: 100vh;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    width: 100%;
    position: relative;
    overflow: hidden;
    /* To contain background effects */
}

.pageContainer {
    width: 100%;
    height: 100%;
}